body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: #F2DCB3;
}

/* Tamanho, posição e sombra do Slider */
.slider {
    width: 90%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgba(64,22,22, 0.75);
}

/* Tamanho das imagens */
.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

/* Espaço que cada imagem pode ocupar e tempo de transição entre elas*/
.slide {
    width: 20%;
    transition: 1s;
}

/* Altura e largura da imagem */
.slide img {
    width: 100%;
    height: 100%;
}

/* Botões */
input {
    display: none;
}

.navigation-auto {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

.navigation-bar {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.manual-btn {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background: rgb(255, 255, 255);
    transition: 0.4s;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}


#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: #fff;
}

