header {
    margin-bottom: 30px;
    text-align: center;
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 50px;
    color: rgb(250, 80, 80);
    font-family: 'Rubik Vinyl', cursive;
}